.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  margin-top: 200px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 200;
}

.skills-icons {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 20px; 
  max-width: 90%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.skill-item svg {
  font-size: 48px;
  color: black;
  transition: transform 0.3s;
}

.skill-item:hover svg {
  transform: scale(1.2);
}

.skill-name {
  margin-top: 8px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; 
}

.skill-item:hover .skill-name {
  opacity: 1;
}

.skill-svg {
  width: 44px;         
  height: 44px;         
  object-fit: contain;   
  color: black; 
  transition: transform 0.3s;
}

.skill-item:hover .skill-svg {
  transform: scale(1.2);
  color: black;  
}

@media (max-width: 768px) {
  .skills-section {
    margin-top: 0px;
  }

  .skills-title {
  font-size: 16px; 
  }

  .skills-icons {
    gap: 0px; 
  }

  .skill-item svg {
    font-size: 24px;
  }

  .skill-svg {
    width: 24px;          
    height: 24px;         
  }
}
