.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  height: 90vh;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.about-hello{
  font-size: 24px; 
  font-weight: 200;
}

.about-name {
  font-size: 72px;
  font-weight: bold;
}

.about-name::after {
  content: "";
}

.about-links {
  display: flex;
  gap: 1rem;
}

.about-links a {
  color: inherit;
  text-decoration: none; 
  transition: color 0.3s; 
}

.about-links a:hover {
  color: #007bff; 
}

.about-details {
  padding-left: 10%;   
  padding-right: 10%;
  font-size: 24px;     
  font-weight: 200;
}

@media (max-width: 768px) {
  .about-hello,
  .about-name {
    display: inline;
    font-weight: 200;
  }

  .about-hello{
    font-size: 16px; 
  }

  .about-name{
    font-size: 16px;
  }

  .about-name::after {
    content: ".";
  }

  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
  }

  .about-section {
    justify-content: start; 
    align-items: start;    
    height: 23px;
    margin: 30px 5% 0px;
    font-size: 16px; 
  }

  .about-links {
    display: none !important;
  }

  .about-details {
    padding-left: 5%;   
    padding-right: 5%;
    font-size: 16px;      
  } 
}