.contact-section {
  padding-left: 10%;   /* horizontal padding */
  padding-right: 10%;
  font-size: 24px;
  font-weight: 200;
  margin-top: 500px;
  margin-bottom: 24px;
}

.contact-section h2 {
  font-size: 24px;
}

.contact-section p {
  font-size: 20px;
  margin-bottom: 0px;
}

.contact-email {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-email:hover {
  color: #007bff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-section {
    padding-left: 5%;  
    padding-right: 5%;
    font-size: 16px;
    font-weight: 200;
    margin-top: 25vh;
  }
  .contact-section h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .contact-section p {
    font-size: 16px;
  }

  .contact-email {
    font-size: 16px;
  }
}